<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/xstate@4/dist/xstate.js"></script>
  <title>Nonsensica Inc</title>
  {{ with (resources.Get "reset.css" | minify) }}
  {{ $reset := . }}
  {{ with (resources.Get "styles.css" | minify) }}
  <style>
    {{ $style := (slice $reset . | resources.Concat "style.css" ) }}
    {{ $style.Content | safeCSS }}
  </style>
  {{ end }}
  {{ end }}
</head>

<body class="flex flex-col h-full">
  {{ block "main" . }}
  {{ end }}
</body>

</html>