{{ define "main" }}
<main class="flex flex-col bg-light h-full align-center justify-center relative" id="app">
  <button class="hidden logged-out:inline-block mx-auto" id="login-button">Log In With Google</button>
  <section id="alert"
    class="absolute grid w-full h-full justify-center align-center bg-overlay logged-in:hidden logged-out:hidden">
    <div class="hidden bg-white submitting:grid px-3 py-2 gap-md">
      <p>Submitting data.</p>
      <p>This may take a few seconds...</p>
    </div>
    <div class="hidden bg-white success:grid px-3 py-2 gap-md">
      <p>Successfully submitted</p>
      <button class="clear-button">Enter another business</button>
    </div>
    <div class="hidden bg-white error:grid px-3 py-2 gap-md">
      <p>Whoops!</p>
      <p id="error-field"></p>
      <button class="submit-form-button">Try again?</button>
      <button class="clear-button">I give up</button>
    </div>
  </section>
  <div class="grid gap-xl mx-auto">
    <form class="grid mx-auto gap-lg logged-out:hidden" id="form">
      <label class="grid gap-sm">
        <p>Company Name</p>
        <input type="text" name="company" required>
      </label>
      <label class="grid gap-sm">
        <p>Website</p>
        <input type="text" name="website" required>
      </label>
      <button class="flex submit-form-button" type="submit" style="display: block;">Submit</button>
    </form>
    <button class="text-center logged-out:hidden" id="logout-button">Log Out</button>
  </div>
</main>
{{ with (resources.Get "state.js") }}
<script>
  {{ .Content | safeJS }}
</script>
{{ end }}
{{ end }}