.grid { display: grid; }
.gap-sm { grid-gap: .5rem }
.gap-md { grid-gap: 1rem }
.gap-lg { grid-gap: 1.5rem }
.gap-xl { grid-gap: 2.5rem }
.grid-cols-1 { grid-template-columns: repeat(2, 1fr);}
.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.justify-center { justify-content: center; }
.align-center { align-content: center; }
.w-full { width: 100%; }
.h-full { height: 100vh }
.relative { position: relative; }
.absolute { position: absolute }
.hidden { display: none; }
.py-2 { padding-top: 1rem; padding-bottom: 1rem; }
.px-3 { padding-left: 1rem; padding-right: 1rem; }
.text-center { text-align: center; }
.mx-auto { margin-left: auto; margin-right: auto; }
.bg-overlay { background-color: rgba(0,0,0,0.65); }
.bg-white { background-color: white; }
[data-state="logged-out"] .logged-out\:hidden { display: none; }
[data-state="logged-in"] .logged-in\:hidden { display: none; }
[data-state="logged-out"] .logged-out\:inline-block { display: inline-block; }
[data-state="success" ] .success\:grid { display: grid }
[data-state="submitting" ] .submitting\:grid { display: grid; }
[data-state="error"] .error\:grid { display: grid }